@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html, body {
	font-size:16px;
    margin: 0;
    padding: 2rem;
    font-family: 'Nunito';
	background: #FF6600;
}

canvas {
	display: block;
}

h1{
    color: black;
    font-size: 4rem;
    letter-spacing: 0.125rem;
    margin-top: 5rem;
    text-align: center;
}

ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
	margin: 0;
    padding: 0;
	list-style-type: none;
}

li{
    margin-bottom: 0;
    background: #DAE7EB;
	border: 0.0625rem solid #B8C8CE;
	padding: 1rem 1rem 0rem 1rem;
	cursor:  pointer;
	position: relative;
}

li img{
	width: 90%;
    height: 68%;
	margin: 0%;
    object-fit: cover;
	position: absolute;
}

li span{
    display: block;
    background: white;
    margin: 1rem -1rem 0rem;
    padding: 1rem;
	font-size: 1rem;
    color: black;
	text-align: right;
}

li span:nth-child(2){
	margin-top: 12rem;
	margin-bottom: -4.3rem;
	text-align: left;
}

button{
	background-color: #C8C8C8;
	color: white;
	font-size: 0.875rem;
    border: 0;
    border-radius: 0.625rem;
    padding: 0.8125rem;
    box-shadow: -0.0625rem 0em 0.0625rem rgba(0,0,0,0.1);
    font-weight: bold;
    letter-spacing: 0.0625rem;
}