@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito';
	background: #FF6600;
}

canvas {
	display: block;
}

h1{
    color: black;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
}

ul{
    display: grid;
    grid-template-columns: repeat(4, 24%);
    grid-gap: 1em;
	margin: 0;
    padding: 0;
	list-style-type: none;
}

li{
    /*padding: 20px;
    background: #9e9e9e;
    font-size: 20px;
    color: black;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 56px;*/
	
	margin-bottom: 0;
    background: #DAE7EB;
    padding: 1em;
	border: 1px solid #B8C8CE;
	padding: 1em 1em 0;
}

li img{
	width: 60px;
    height: 60px;
    display: block;
    border-radius: 33%;
}

li span{
    display: block;
	margin-bottom: 0;
    background: #DAE7EB;
    margin: 1em -1em 0;
    padding: 1em;
}

li span:nth-child(2){
    font-size: 16px;
    margin-top: 6px;
    color: black;
}

.content{
	padding: 2em
}

/*li div{
    position: absolute;
    top: 0;
    right: 0px;
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}*/

button{
	background-color: #C8C8C8;
	color: white;
	font-size: 14px;
    border: 0;
    border-radius: 10px;
    padding: 13px;
    box-shadow: -1px 0px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    letter-spacing: 1px;
}

/* Not currently in use for user pages */
form input{
    float: left;
    width: 38%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid #88236f;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}